body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
    padding-left: 20px;
}
.error {
    color: red;
}
.success {
    color: #3ce26a;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.employee {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    color: white;
  
}
.employee-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.employee-details {
    width: 500px;
    margin-right: 30px;
    border: 2px solid white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    height: 50px;
    padding-left:5px;
    
}
.details-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    
}
.delete-btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: white;
    color:black;
    border: none;
    cursor: pointer;
    height: 38px;
    width: 160px;
    border-radius: 20px;
    font-size: 15px;
    color: grey;
    margin-top: 8px;

}

input{
    height: 30px;
    width: 440px;
    margin-right: 20px;
    background-color: black;
    border: 1px solid white;
    border-style: solid;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    padding-left: 10px;
}
#addEmployeeBtn{
    height: 42px;
    width: 180px;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
#employeeList{
    color: gray;
}
.spaces{
    margin-right: 20px;
}
.added-employee{
    margin-bottom: 30px;
}